*.class
*.settings
*.project*.class
*.settings
*.project*.class
*.settings
*.project*.class
*.settings
*.project*.class
*.settings
*.project*.class
*.settings
*.project*.class
*.settings
*.project*.class
*.settings
*.project
